[submodule "libs/imgui-docking"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb
[submodule "libs/openal"]
	path = libs/openal
	url = https://github.com/kcat/openal-soft
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json
